version: '3.8'

services:
  fl_server:
    build: ./fl_server
    ports:
      - "8080:8080"
    environment:
      - OPA_URL=http://opa:8181
    depends_on:
      - opa
    volumes:
      - ./models:/models

  fl_client_1:
    build: ./fl_client
    environment:
      - FL_SERVER=http://fl_server:8080
      - CLIENT_ID=client_1
    depends_on:
      - fl_server

  opa:
    image: openpolicyagent/opa:latest
    ports:
      - "8181:8181"
    command:
      - "run"
      - "--server"
      - "--addr=:8181"
      - "/policies"
    volumes:
      - ./opa/policies:/policies
      - ./opa/data:/data

